<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>487581279668-1d62ck2lialroihutsqvae6ev1ch7cui.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487581279668-1d62ck2lialroihutsqvae6ev1ch7cui</string>
	<key>API_KEY</key>
	<string>AIzaSyCH06ryZir4HUm_injKx2xxfnMeOxapbyo</string>
	<key>GCM_SENDER_ID</key>
	<string>487581279668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialMediaApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>devworld-socialmedia-app</string>
	<key>STORAGE_BUCKET</key>
	<string>devworld-socialmedia-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487581279668:ios:d76b1380b5632f351cfee1</string>
</dict>
</plist>